
body {
    margin: 0;
    font-family: 'Helvetica', cursive;
    background: #dda15e;
  }
  
  h1 {
    font-family: 'Space Mono', monospace;
    text-align: center;
    color: #606c38;
    margin-bottom: 0;
  }
  h2 {
    font-family: 'Helvetica', cursive;
    text-align: center;
    color: white;
  }
  h3 {
    font-family: 'Helvetica', cursive;
    text-align: center;
    color: white;
    margin-top: 0;
  }
  
  
  a:hover {
    color: ghostwhite;
  }
 
  
  input[type=text] {
    padding: .3em;
  }
  
  input[type=submit] {
    padding: .3em;
    color: orange;
    background: mediumseagreen;
    font-size: 1em;
    border-radius: 10%;
  }

  img{
    width: 1000px;
    height: 500px;
    left: 150px;
    position: relative;
  }