ul{
    margin:0;
    padding:0;
    overflow: hidden;
    
  }
  
  nav{
    background-color: #283618;
    width:100%
}



li {
  list-style: none;
  float: left;
}

li a {
    display: block;
  padding:14px 16px;
}